// Define variables for your color scheme

// actions
$confirm: #411530;
$cancel: #D1512D;

// elements
$background: #F5E8E4;
$card: #ffe6d5;
$search: #ffe6d5cb;

// colours
$white: #ffffffdd;
$black: #0000005b;
$light-gray: rgb(183, 183, 183);
$gray: gray;
$blue: blue;
$green: green;
$yellow: yellow;
$orange: orange;
$red: red;
