// for pokemons#index page > cards
.pokemon-card {
  width: 200px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: white;
}

.card-display-none {
  display: none;
}
