.search {
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
}

.search-field {
  padding: 8px;
  border: none;
  margin: 8px -8px 8px 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #cdd0d2ba;
  box-shadow: inset -3px -3px 6px 2px #00000014;
  transition: all 1s;
  &:focus {
    background-color: #04518f17;
    flex-grow: 0.5;
    transition: all 1s;
    border: none;
  }
  &:focus-visible {
    outline: none;
    box-shadow: inset 1px 1px 4px 3px grey;
  }
}

.search-button {
  padding: 8px;
  border: none;
  margin: 8px 8px 8px 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset -3px -3px 6px 2px #00000014;
  background-color: $confirm;
  color: white;
}
